@import url('https://fonts.googleapis.com/css2?family=Luxurious+Script&display=swap');

* {
    box-sizing: border-box;
    
}

body {
    position: relative;
font-family: sans-serif;
    margin: 0;
    padding: 0;
    
}

/*Background image mit before, 
damit opacity gesteuert werden kann*/
body::before {
    position: absolute;
    content: "";
    inset: 0;
    width: 100%;
    background-image: url('Daco_4748257.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-color: #ff00ff22;
    z-index: -1;
    opacity: .4;
}



header {
    position: relative;
    color:goldenrod;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7.5rem;
    font-family: 'Luxurious Script' !important;
    font-size: 2rem;
    padding: 0 2rem;
    margin: 0;
    background: linear-gradient(150deg, hsla(141, 54%, 86%, .7) 0%, hsla(333, 73%, 85%, .7) 50%, hsla(211, 58%, 79%, .7) , hsla(141, 54%, 86%, .7)100%);
    background-size: 200% 200%;
    background-position: 50% 50%;
    margin-bottom: 3rem;
    z-index: -2;
}


nav h1::before {
    content: url('namaste.svg');
    display: inline-flex;
    width: 80px;
    margin-right: -1rem;
    
    
}

nav h1 {
    position: absolute;
    left: 3rem;
    top: -2rem;
}



section {
    position: relative;
    left: 2rem;
    top: 2rem;
    border-radius: 20px;
    max-width: 300px;
    width: auto;
    height: auto;
    background: linear-gradient(150deg, hsla(141, 54%, 86%, .6) 0%, hsla(333, 73%, 85%, .6) 50%, hsla(211, 58%, 79%, .6) );
    box-shadow: 0 1px 50px 0 rgb(0 0 0 /18%);

}

.title {
    font-weight: 700;
    font-size: 1.5rem;

}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1.5rem;
    margin: 1rem;
    border-radius: 30px;
}

span {
    display: inline-flex;
    padding: 1rem 0 2rem 0;
    letter-spacing: -1px;
    
}

aside {
    position: relative;
    background: #ffffff99;
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 60vw;
    text-align: justify;
    padding: 3rem;
    font-weight: 200;
    border-radius: 20px;
    z-index: -1;
  
}

table {
    max-width: 90%;
    border: 1px solid #e3499433;
    border-collapse: collapse;
}

tr {

    border-bottom: 1px solid #e3499433;
}

td {
    font-size: .875rem;
    padding: 1rem;
    margin: 0;
}

tr:nth-child(odd) > td:nth-child(even) {
    background-color: #e3499433;
}
tr:nth-child(even) > td:nth-child(odd) {
    background-color: #e3499433;
}

tr {
    background-color: #e3499433;
}

th:nth-child(odd) {
    background-color: #e3499433;
}


/* tr:nth-child(even) {
    background-color: #e3499433;
} */

aside::before {
    position: absolute;
    content: "";
    inset: 5px;
    box-shadow: 5px 5px 20px #e3499433;
    filter: blur(5px);
}

.flex:not(span) {
    padding: 3rem 2rem 3rem 2rem;
    margin: 3rem 0;
    letter-spacing: 1px;
    text-align: justify;
}

input {
    display: block;
    margin: 1rem;
}

@media (max-width: 480px) {
    header {
        flex-direction: column;
        margin: 0;
        padding-bottom: 10rem;
    }
    nav  h1 {
        left: 50%;
        translate: -50%;      
        scale: 1.5;  
    }

    section:nth-child(2) {
    margin: 0 auto;
    margin-top: 2rem;

    }
    h1:not(::before) {
        position: absolute;
        height: 1rem;
        margin: 2rem;
        
        left: 50%;
        translate: -30%;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}