@import url('https://fonts.googleapis.com/css2?family=Luxurious+Script&display=swap');

* {
    box-sizing: border-box;
    
}

body {
font-family: sans-serif;
    margin: 0;
    padding: 0;
}

#background-logo {
    position: absolute;
    
    bottom: 0;
    width: 100%;
    z-index: -1;
    opacity: .4;
}



header {
    position: relative;
    color:goldenrod;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7.5rem;
    font-family: 'Luxurious Script' !important;
    font-size: 2rem;
    padding: 0 2rem;
    margin: 0;
    background: linear-gradient(150deg, hsla(141, 54%, 86%, .7) 0%, hsla(333, 73%, 85%, .7) 50%, hsla(211, 58%, 79%, .7) , hsla(141, 54%, 86%, .7)100%);
    background-size: 200% 200%;
    background-position: 50% 50%;
    margin-bottom: 3rem;
    z-index: -2;
}


nav h1::before {
    content: url('namaste.svg');
    display: inline-flex;
    width: 80px;
    margin-right: -1rem;
    
    
}



section {
    position: relative;
    left: 2rem;
    top: 2rem;
    border-radius: 20px;
    max-width: 300px;
    width: auto;
    height: auto;
    background: linear-gradient(150deg, hsla(141, 54%, 86%, .6) 0%, hsla(333, 73%, 85%, .6) 50%, hsla(211, 58%, 79%, .6) );
    box-shadow: 0 1px 50px 0 rgb(0 0 0 /18%);

}

.title {
    font-weight: 700;
    font-size: 1.5rem;

}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1.5rem;
    margin: 1rem;
    border-radius: 30px;
}

span {
    display: inline-flex;
    padding: 1rem 0 2rem 0;
    letter-spacing: -1px;
    
}

.flex:not(span) {
    padding: 3rem 2rem 3rem 2rem;
    margin: 3rem 0;
    letter-spacing: 1px;
    text-align: justify;
}

@media (max-width: 480px) {
    header {
        flex-direction: column;
        margin: 0;
        padding-bottom: 10rem;
    }
    nav > h1::before {
        display: block;
        scale: 1.5;
        margin-left: 1.5rem;
        height: 2.5rem;
        margin-bottom: 0;
    }

    h1:not(::before) {
        position: relative;
        height: 1rem;
        margin: 2rem;
        
        left: 50%;
        translate: -30%;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}